body{
    max-width: 100%;
    font-size: 14px;
    margin: 0;
}

header{
    background-image: url(img/05_04-7-dicas-de-como-melhorar-a-performance-do-servidor-da-sua-empresa-2.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

header > img{
    max-width: auto;
    height: 10%;
}

header > nav{
    border: solid pink 10px; 
    width: 50%;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    color: white;
}

header > nav > ul > li{
    list-style-type: none;
}

main{
    border: solid 10px blue;
    display: flex;
    flex-direction: column;
}

figure{
    border: solid 10px black;
}

article{
    border: solid 10px yellow;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section{
    border: solid 10px green;
}


footer{
    border: solid 10px orange;
}