:root {
    --cor00: #00f2ea;
    --cor01: #FFD600;
    --cor02: #FF2D56;
    --cor03: #FFFFFF;
    --cor04: #0D0D0D;
    --cor05: #6c757d;
    --cor06: #262626;
    --cor07: #b3b3b3;
    --cor08: #141414;
    --cor09: #1f1f1f;
    --cor10: #333333;
    --cor11: #2b2b2b;
    --cor12: #0a5f46;
    --cor13: #8c7300;
    --cor14: #800020;

}

body,
html {
    height: 100%;
    overflow: hidden;
    background-color: var(--cor04);
}

.painel-principal {
    height: 100vh;
    overflow: hidden;
    padding: 2rem 3rem !important;
    /* border: 2px solid red; */
}

.card-form {
    background-color: var(--cor08);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 2rem !important;
    /* border: 2px solid red; */
}

.borda-glow-ciano {
    border-bottom: 3px solid var(--cor00);
    box-shadow: 0px 10px 25px -10px rgba(0, 242, 234, 0.4);
}

.borda-glow-vermelha {
    border-bottom: 3px solid var(--cor02);
    box-shadow: 0px 10px 25px -10px rgba(255, 45, 86, 0.4);
}

.input-form-compacto {
    padding: 10px 14px !important;
    font-size: 0.95rem;
    border-radius: 8px;
    background-color: var(--cor09);
    border: 1px solid var(--cor10);
    color: var(--cor03);
    /* border: 2px solid red; */
}

.badge-alerta {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--cor03);

    &.badge-verde {
        background-color: var(--cor12);
    }

    &.badge-amarelo {
        background-color: var(--cor13);
    }

    &.badge-vermelho {
        background-color: var(--cor14);
    }
}

.btn-componente-largo {
    background-color: var(--cor11);
    color: var(--cor03);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    /* border: 2px solid red; */

    & i {
        font-size: 1.8rem;
    }

    & span {
        font-size: 1.4rem;
        font-weight: 600;
    }

    &:hover {
        border-color: var(--cor00);
        color: var(--cor00);
    }
}

.btn-submit-teal {
    background-color: #0c6b54;;
    color: var(--cor03);
    /* border: 2px solid red; */
    border: none;
    border-radius: 6px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        background-color: #095240;
        color: var(--cor03);
    }
}