* {
    margin: 0%;
    padding: 0%;
    font-family: "League Spartan";
    box-sizing: border-box;
}

body {
    background-image: url("assets/fundo.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) or (height: 600px) {
    .caixa {
        min-height: 100vh;
        background-image: none;
        min-width: 100vw;
        /* background-color: #da1139 !important; */
    }
}

@media (min-width:768px) and ((min-height: 601px) or (max-height: 599px)) {
    .caixa {
    border-radius: 20px;
    height: 80vh !important;
    width: 50vw;
    display: flex;
    overflow: hidden;
    }
}

.cadastro {
    /* background-color: yellow !important; */
    height: 40vh;
}

@media (max-width: 820px) {
    .cadastro {
        margin-bottom: 30%;
    }
}

.bloco-branco {
    background-color: #fff;
    padding: 60px 50px;
}

.bloco-cinza {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.logo {
    text-align: center;
    margin: 10%;
    margin-top: 30%;
}

.voltar {
    justify-content: flex-end;
    align-items: center;
    color: #FE2C55;
    font-weight: bold;
    padding: 30px 10px;
    margin-right: 2%;
    gap: 8px;
    z-index: 10;
    position: relative;
}

a {
    text-decoration: none; 
    color: #FE2C55;         
}

.voltar img {
    width: 15px;
    margin-bottom: 5%;
}

a:hover {
    color: #da1139;
    text-decoration: underline;
}

.entrar {
    background-color: #FE2C55 !important;
    color: white !important;
    border-color: #FE2C55 !important;
}

.entrar:hover {
    background-color: #da1139  !important;
    border-color: #da1139 !important;
}

.bem-vindo {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

input {
    border-radius: 5px;
    height: 50px; 
    border-style: none;
    border: 1px solid #8f8f8f;
}

.inputs {
    margin-bottom: 25px;
    /* background-color: red; */
}

.login {
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30%;
}

.mensagem {
    color: #FE2C55;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.criar {
    /* background-color: aqua; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cadastrar {
    height: 45vh;
    padding: 25px 50px;
    /* background-color: red; */
}

@media (max-height:767px) {
    .cadastrar{
        height: 90vh;
        padding: 0px 50px;
    }
}

.welcome {
    padding: 50px 50px;
    height: 20vh;
    margin-bottom: 18% !important;
    margin-top: 0;
    /* background-color: pink; */
}

@media (min-width: 768px) and (max-width: 991px){
    .welcome {
        margin-bottom: 5% !important;
        /* background-color: #da1139 !important; */
    }
}

@media (min-width: 1200px){
    .welcome {
        margin-bottom: 10% !important;
    }
} 

@media (min-height: 768px) {
    .bem-vindo {
        height: 5vh;
    }
    .welcome {
        height: 15vh;
    }
}

@media (max-width: 1199.98px) {
  .voltar {
    width: 100% !important;
  }
}
