AMBIENTE_PROCESSO=producao

# Configurações de conexão com o banco de dados
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Configurações do servidor de aplicação
APP_PORT=
APP_HOST=

# Configurações de bucket e gemini key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
S3_BUCKET_NAME=
AWS_REGION=
GEMINI_API_KEY=