body {
    background-color: #0D0D0D;
}

.card-kpi {
    background-color: #151515;
    border: 1px solid #FFFFFF14;
    border-radius: 9.83px;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.icon-label {
    color: #CECECE; 
    font-weight: bolder; 
    font-size: 18px;
}

.status-percent {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    /* font-size: 35px; */
    /* padding-left: 10px; */
}

.coluna-kpi {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    gap: 15px;
}

.div-legends {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.legend-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    gap: 5px;
}


.legend-container div {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

.span-legend {
    color: #FFFFFF;
    font-size: 14px;
    white-space: nowrap;
}

.span-percent {
    color: #FFFFFF;
    font-size: 14px;

}

.span-circle {
    height: 12px;
    padding: 0px 6px;
    border-radius: 100px;
    background-color: #FF0050;
}

.dashboard-title {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}

.information-container {
    border: 1px solid #FFFFFF14;
    border-radius: 7px;
    padding: 15px;
}

.information-container h1 {
    font-size: 18px;
    color: #FFFFFF;
}

.information-container label {
    color: #A0A0A0;
    font-size: 14px;
}

.information-container span {
    color: #FFFFFF;
    font-size: 14px;
}

.div-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF14;
    margin-top: 14px;
    padding-bottom: 5px;
}